<nav class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white shadow-sm" 
     style="width: 220px; height: 100vh; position: fixed; top: 0; left: 0;">
  <h5 class="mb-4">Admin Panel</h5>
  <ul class="nav nav-pills flex-column mb-auto gap-2">
    <li class="nav-item">
      <a href="/admin/quota" class="nav-link custom-link">
        Manage Quotas
      </a>
    </li>
    <li>
      <a href="/admin/products" class="nav-link custom-link">
        Manage Products
      </a>
    </li>
  </ul>
</nav>