<!-- Top utility bar -->
<div class="py-1" style="background-color:#0E274B; color:white; font-size:0.9rem;">
  <div class="container d-flex justify-content-between">
    <div>
      <i class="fa-solid fa-phone me-2"></i> +639999999999
      <i class="fa-solid fa-envelope ms-3 me-2"></i> info@metrocom.com
    </div>
    <div>
      <a href="#" class="text-white me-3"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="text-white me-3"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="text-white">FAQs</a>
    </div>
  </div>
</div>


<div class="py-1" id="metroborder">
  <div class="container d-flex justify-content-center" >
    <h1> METROCOM </h1>
    <!-- <img src="/assets/logo.png" height="50"> -->
  </div>
</div>


<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container d-flex justify-content-center my-1">

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav align-items-center">

        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">Products</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">Contact Us</a>
        </li>

        <!-- Cart -->
        <li class="nav-item mx-15">
          <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Custom Image-->
<div id="navbar-banner">
  <img src="/assets/banner.png" alt="metrocom banner">
</div>
