<div id="navbar">
    <a href="/">
        <div id="navbar-logo-container" class="navbutton">
            <img id="navbar-logo" class="nav-icon" src="/assets/logo.png">
        </div>
    </a>

    <a href="/">
        <div class="navbutton">
            <p class="nav-title">Home</p>
        </div>
    </a>

    <a href="/products">
        <div class="navbutton">
            <p class="nav-title">Products</p>
        </div>
    </a>

    <a href="/about">
        <div class="navbutton">
            <p class="nav-title">About Us</p>
        </div>
    </a>

    <a href="/contact">
        <div class="navbutton">
            <p class="nav-title">Contact Us</p>
        </div>
    </a>
</div>
