.fa-brands{
  font-size: 24px;
  line-height: 1; 
  vertical-align: middle;
}

.fa-solid{
  font-size: 24px;
  line-height: 1; 
  vertical-align: middle;
}


a.text-reset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar {
  background-color: #010048 !important;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: #ffffff !important; /* white text/icons */
}