.navbar-nav > li > a > img {
    height: 40px;            /* match text height better */
    width: auto;
    vertical-align: middle;  /* aligns image with text */
    margin-top: -2px;        /* tiny nudge if needed */
}


.navbar-nav > li {
    margin-right: 25px;
}

.navbar-nav > li > a {
    margin-top: 10px;

}

.navbar-default{
    background-color: rgb(231, 246, 247);
}

a{ 
    font-weight: bold;
    font-size: larger;
}